* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-image: url(../images/textura-fondo.svg);
}

@font-face {
  font-family: heyNovember;
  src: url(../HeyNovember.otf);
}

header {
  background-image: url(../images/textura-fondo-titulo.svg);
  height: 130px;
  background-repeat: no-repeat;
}

header h1 {
  font-family: heyNovember;
  font-size: 3rem;
  text-align: center;
}



.formulario {
  margin-top: 2;
  display: flex;
  flex-direction: column;
}

.formulario span {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .7rem;
  margin: 10px;
}

.formulario .box1 {
  margin-left: 3rem;
}

.formulario .box1 select {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 1rem;
  width: 60%;
}

.formulario .box2 {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}


.formulario .box2 input {
  background-color: transparent;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  text-align: center;
  color: rgb(102, 102, 102);
  margin-top: .8rem;
}

.formulario .box3 {
  display: flex;
  margin-left: 3rem;
  flex-direction: column;
}

.formulario .box3 select {
  width: 60%;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin-top: .8rem;
}

.formulario .box4 {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  margin: .8rem 0 0.8rem 3rem;

}


.formulario .box4 input {
  background-color: blue;
  margin: 1rem auto;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 15px;
  color: white;
  font-size: .7rem;
  font-weight: bold;
  margin-top: .8rem;
}

.formulario .box4 span {
  color: rgb(183, 181, 181);
  font-size: .6rem;
}



.presidentes {
  background-image: url(../images/textura-lista.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.presidentes ul {
  padding-top: 1rem;
  list-style: none;
}

.presidentes ul li {
  text-align: center;
  margin: 2rem 0;
  font-family: heyNovember;
  font-size: 1.5rem;
}


.refrescarButton input {
  background-image: url(../images/arrow.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  position: relative;
  top: 4rem;
  left: 2rem;
}

@media (min-width: 768px){
 
  header {
      background-image: url(../images/textura-fondo-titulo.svg);
      width: 100%;
      height: 200px;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  header h1 {
      padding-top: 2rem;
      font-family: heyNovember;
      font-size: 3rem;
      text-align: center;
  }
  

  .formulario {
      margin-top: 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .formulario span {
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: .7rem;
      margin: 10px;
  }
  
  .formulario .box1 {
      margin-left: 3rem;
  }
  
  .formulario .box1 select {
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      margin-top: 1rem;
      width: 100%;
  }
  
  .formulario .box2 {
      display: flex;
      flex-direction: column;
      margin-left: 3rem;
  }
  
  
  .formulario .box2 input {
      background-color: transparent;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid white;
      text-align: center;
      color: rgb(102, 102, 102);
      margin-top: .8rem;
  }
  
  .formulario .box3 {
      display: flex;
      margin-left: 3rem;
      flex-direction: column;
  }
  
  .formulario .box3 select {
      width: 100%;
      background-color: white;
      color: black;
      border-radius: 10px;
      padding: 10px;
      margin-top: .8rem;
  }
  
  
  .formulario .box4 input {
      background-color: blue;
      margin: 1rem auto;
      border: 1px solid blue;
      border-radius: 10px;
      padding: 15px;
      color: white;
      font-size: .7rem;
      font-weight: bold;
      margin-top: .8rem;
  }
  
  .formulario .box4 span {
      color: rgb(183, 181, 181);
      font-size: .7rem;
  }
  
  .refrescarButton input {
      background-image: url(../images/arrow.png);
      background-size: cover;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: 0;
      position: relative;
      top: 5rem;
      left: 6rem;
  }



.presidentes ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
}

.presidentes ul li {
  text-align: center;
  margin: 2rem 0;
  font-family: heyNovember;
  font-size: 1.5rem;
}
  

.presidentes {
  background-image: url(../images/textura-lista.svg);
  width: 100%;
  background-repeat: no-repeat;
}

}

@media (min-width: 1200px){
  .formulario {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
}